<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/hrportal</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
      <mapping class="com.hrportal.repo.Applications"/>
      <mapping class="com.hrportal.repo.ArchivedEmployees"/>
      <mapping class="com.hrportal.repo.Attendance"/>
      <mapping class="com.hrportal.repo.AuditLog"/>
      <mapping class="com.hrportal.repo.Benifits"/>
      <mapping class="com.hrportal.repo.Calls"/>
      <mapping class="com.hrportal.repo.Candidates"/>
      <mapping class="com.hrportal.repo.Certifications"/>
      <mapping class="com.hrportal.repo.Clients"/>
      <mapping class="com.hrportal.repo.CompanyDocuments"/>
      <mapping class="com.hrportal.repo.CompanyLoans"/>
      <mapping class="com.hrportal.repo.CompanyStructures"/>
      <mapping class="com.hrportal.repo.Country"/>
      <mapping class="com.hrportal.repo.Courses"/>
      <mapping class="com.hrportal.repo.Crons"/>
      <mapping class="com.hrportal.repo.CurrencyTypes"/>
      <mapping class="com.hrportal.repo.CustomFieldValues"/>
      <mapping class="com.hrportal.repo.CustomFields"/>
      <mapping class="com.hrportal.repo.DataEntryBackups"/>
      <mapping class="com.hrportal.repo.DataImport"/>
      <mapping class="com.hrportal.repo.DataImportFiles"/>
      <mapping class="com.hrportal.repo.DeductionGroup"/>
      <mapping class="com.hrportal.repo.Deductions"/>
      <mapping class="com.hrportal.repo.Documents"/>
      <mapping class="com.hrportal.repo.EducationLevel"/>
      <mapping class="com.hrportal.repo.Educations"/>
      <mapping class="com.hrportal.repo.Emails"/>
      <mapping class="com.hrportal.repo.EmergencyContacts"/>
      <mapping class="com.hrportal.repo.EmployeeApprovals"/>
      <mapping class="com.hrportal.repo.EmployeeAttendanceSheets"/>
      <mapping class="com.hrportal.repo.EmployeeCertifications"/>
      <mapping class="com.hrportal.repo.EmployeeCompanyLoans"/>
      <mapping class="com.hrportal.repo.EmployeeDataHistory"/>
      <mapping class="com.hrportal.repo.EmployeeDependents"/>
      <mapping class="com.hrportal.repo.EmployeeDocuments"/>
      <mapping class="com.hrportal.repo.EmployeeEducations"/>
      <mapping class="com.hrportal.repo.EmployeeEthnicity"/>
      <mapping class="com.hrportal.repo.EmployeeExpenses"/>
      <mapping class="com.hrportal.repo.EmployeeForms"/>
      <mapping class="com.hrportal.repo.EmployeeImmigrationStatus"/>
      <mapping class="com.hrportal.repo.EmployeeImmigrations"/>
      <mapping class="com.hrportal.repo.EmployeeLanguages"/>
      <mapping class="com.hrportal.repo.EmployeeLeaveDays"/>
      <mapping class="com.hrportal.repo.EmployeeLeaveLog"/>
      <mapping class="com.hrportal.repo.EmployeeLeaves"/>
      <mapping class="com.hrportal.repo.EmployeeOvertime"/>
      <mapping class="com.hrportal.repo.EmployeeProjects"/>
      <mapping class="com.hrportal.repo.EmployeeSalary"/>
      <mapping class="com.hrportal.repo.EmployeeSkills"/>
      <mapping class="com.hrportal.repo.EmployeeTimeEntry"/>
      <mapping class="com.hrportal.repo.EmployeeTimeSheets"/>
      <mapping class="com.hrportal.repo.EmployeeTrainingSessions"/>
      <mapping class="com.hrportal.repo.EmployeeTravelRecords"/>
      <mapping class="com.hrportal.repo.Employees"/>
      <mapping class="com.hrportal.repo.EmployementType"/>
      <mapping class="com.hrportal.repo.EmploymentStatus"/>
      <mapping class="com.hrportal.repo.Ethnicity"/>
      <mapping class="com.hrportal.repo.ExpensesCategories"/>
      <mapping class="com.hrportal.repo.ExpensesPaymentMethods"/>
      <mapping class="com.hrportal.repo.ExperienceLevel"/>
      <mapping class="com.hrportal.repo.FieldNameMappings"/>
      <mapping class="com.hrportal.repo.Files"/>
      <mapping class="com.hrportal.repo.Forms"/>
      <mapping class="com.hrportal.repo.HoliDays"/>
      <mapping class="com.hrportal.repo.ImmigrationDocuments"/>
      <mapping class="com.hrportal.repo.ImmigrationStatus"/>
      <mapping class="com.hrportal.repo.Industry"/>
      <mapping class="com.hrportal.repo.Interviews"/>
      <mapping class="com.hrportal.repo.Job"/>
      <mapping class="com.hrportal.repo.JobFunction"/>
      <mapping class="com.hrportal.repo.JobTitles"/>
      <mapping class="com.hrportal.repo.Languages"/>
      <mapping class="com.hrportal.repo.LeaveGroupEmployees"/>
      <mapping class="com.hrportal.repo.LeaveGroups"/>
      <mapping class="com.hrportal.repo.LeavePeriods"/>
      <mapping class="com.hrportal.repo.LeaveRules"/>
      <mapping class="com.hrportal.repo.LeaveStartingBalance"/>
      <mapping class="com.hrportal.repo.LeaveTypes"/>
      <mapping class="com.hrportal.repo.Migrations"/>
      <mapping class="com.hrportal.repo.Modules"/>
      <mapping class="com.hrportal.repo.Nationality"/>
      <mapping class="com.hrportal.repo.Notifications"/>
      <mapping class="com.hrportal.repo.OvertimeCategories"/>
      <mapping class="com.hrportal.repo.PayFrequency"/>
      <mapping class="com.hrportal.repo.PayGrades"/>
      <mapping class="com.hrportal.repo.Payroll"/>
      <mapping class="com.hrportal.repo.PayrollColumnTemplates"/>
      <mapping class="com.hrportal.repo.PayrollColumns"/>
      <mapping class="com.hrportal.repo.PayrollData"/>
      <mapping class="com.hrportal.repo.PayrollEmployees"/>
      <mapping class="com.hrportal.repo.PayslipTemplates"/>
      <mapping class="com.hrportal.repo.Permissions"/>
      <mapping class="com.hrportal.repo.Projects"/>
      <mapping class="com.hrportal.repo.Province"/>
      <mapping class="com.hrportal.repo.ReportFiles"/>
      <mapping class="com.hrportal.repo.Reports"/>
      <mapping class="com.hrportal.repo.RestAccessTokens"/>
      <mapping class="com.hrportal.repo.SalaryComponent"/>
      <mapping class="com.hrportal.repo.SalaryComponentType"/>
      <mapping class="com.hrportal.repo.Settings"/>
      <mapping class="com.hrportal.repo.Skills"/>
      <mapping class="com.hrportal.repo.StatusChangeLogs"/>
      <mapping class="com.hrportal.repo.SupportedLanguages"/>
      <mapping class="com.hrportal.repo.Tags"/>
      <mapping class="com.hrportal.repo.Timezones"/>
      <mapping class="com.hrportal.repo.TrainingSessions"/>
      <mapping class="com.hrportal.repo.UserReports"/>
      <mapping class="com.hrportal.repo.UserRoles"/>
      <mapping class="com.hrportal.repo.Users"/>
      <mapping class="com.hrportal.repo.WorkDays"/>
      <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>